
.sidebar{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #cecdcd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}
.Profile{
  width: 90%;
  border: 2px solid rgb(115, 123, 115);
  padding: 5px 5px;
  box-sizing: border-box; 
  display: flex;
  flex-direction: row; 
  border-Radius: 10px;

}


.Links
{
    width: 90%;
    border: 2px solid rgb(115, 123, 115);
    padding: 5px 5px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    border-Radius: 10px;
}

.LinksDms
{
    width: 90%;
    padding: 5px 5px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    border-Radius: 10px;
}



